export TOP_HEAD="$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"

use flake --option warn-dirty false

unset GITHUB_TOKEN

export PATH="$PATH:$PWD/target/debug:$PWD/target/release"

export_alias _b "cd $TOP_HEAD && make build; cd -"
export_alias _c "cd $TOP_HEAD && make check; cd -"
export_alias _t "cd $TOP_HEAD && make test; cd -"
export_alias _v "cd $TOP_HEAD && make verify; cd -"
